
.rainbow {
    text-align: center;
    text-decoration: underline;
    
    font-family: monospace;
    letter-spacing: 5px;
    font-family: 'Lilita One', cursive;
}
.rainbow_text_animated {
    background: linear-gradient(to right, aqua, lightgreen , yellow, #ff3399, orange,pink);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}